<div class="row" id="home">
  <div class="col-md-5" id="content-pvaleur">
    <h1 class="pvaleur">Complétez vos compétences tech</h1>
  </div>
  <div class="col-md-6">
    <img src="/coding_photo.jpg" alt="" class="img-responsive"style="width:100%; min-height:380px!important">
  </div>
</div>
