<div class="row" id="home">
  <div class="col-md-5" id="content-pvaleur">
    <h1 class="pvaleur">Complétez vos compétences techs</h1>
    <h4 class="baseline">Dev Update vous permet de trouver le développeur idéal pour
       appronfondir vos connaissances technologiques plus rapidement,
       par des séances de monitoring et de code en live.
    </h4>
       <%= button_to "Inscrivez-vous, c'est gratuit !", root_path, class: "btn btn-danger btn-lg"  %>
  </div>
  <div class="col-md-6 hidden-xs ">
    <img src="/coding_photo.jpg" alt="" class="img-responsive"style="width:100%; min-height:380px!important">
  </div>
</div>

<div class="container marketing">
    <div class="row">
      <div class="text-center">
        <h2 class="title1">Nous sommes fais pour ceux qui savent déjà coder</h2>
      </div>
      <div class="col-lg-4">
        <div class="text-center">
          <img src="/code.png" alt="">
        </div>
        <h2 class="qualité"> Pré-requis, avoir de bonnes bases dans un langage informatique </h2>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <div class="text-center">
          <img src="/support.png" alt="">
        </div>
        <h2 class="qualité">Nos profs sont des développeurs senoirs formés chez Epitech ou travaillant dans des startups comme Github; </h2>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <div class="text-center">
          <img src="/clock.png" alt="">
        </div>
        <h2 class="qualité">La formation est de 5 heures/semaine pendant 1 mois  </h2>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
</div>
